:root {
    /* Application */
    --a-active: var(--vscode-textLink-activeForeground);
    --a-hover: var(--vscode-textLink-activeForeground);
    --a-link: var(--vscode-textLink-foreground);
    --a-visited: var(--vscode-textLink-foreground);
    --base-font: 400 1.5vmin 'Roboto', sans-serif;
    --base-font-color: var(--secondary-color);
    --border-radius: 2px;
    --card-border: 1px solid var(--vscode-inputOption-activeBorder);
    --card-background: var(--vscode-input-background);
    --card-content-color: var(--vscode-input-foreground);
    --card-contet-font: 700 2.7vmin 'Roboto', sans-serif;
    --card-label-font: 400 1.2vmin 'Roboto', sans-serif;
    /* Colors */
    --black: #000;
    --black-rgb: 0, 0, 0;
    --cyan: var(--vscode-terminal-ansiCyan);
    --gray: var(--vscode-terminal-ansiBrightBlack);
    --green: var(--vscode-terminal-ansiGreen);
    --red: var(--vscode-terminal-ansiRed);
    --white: #FFF;
    --yellow: var(--vscode-terminal-ansiYellow);
    /* Context Menu */
    --context-menu-background: var(--vscode-menu-background);
    --context-menu-border: 1px solid var(--vscode-menu-border);
    --context-menu-box-shadow: 0 0 0px rgba(var(--black-rgb), 0.2);
    --context-menu-color: var(--vscode-menu-foreground);
    --context-menu-font: 400 1.0em 'Roboto', sans-serif;
    --context-menu-group-color: var(--vscode-menu-foreground);
    --context-menu-group-font: 700 1.0em 'Roboto', sans-serif;
    --context-menu-item-border: 1px solid var(--vscode-menu-background);
    --context-menu-item-color: var(--vscode-menu-foreground);
    --context-menu-item-font: 400 1.0em 'Roboto', sans-serif;
    --context-menu-item-hover-background: var(--vscode-menu-selectionBackground);
    --context-menu-item-hover-border: 1px solid var(--vscode-menu-background);
    --context-menu-item-hover-color: var(--vscode-menu-selectionForeground);
    --context-menu-item-hover-font: 400 1.0em 'Roboto', sans-serif;
    /* Designer */
    --designer-background: var(--vscode-editor-background);
    --designer-header-background: var(--vscode-sideBar-background);
    --designer-header-border: 2px solid var(--vscode-sideBar-border);
    --designer-header-color: var(--vscode-foreground);
    --designer-header-subtitle-color: var(--vscode-foreground);
    --designer-header-subtitle-font: 700 1.6vmin 'Roboto', sans-serif;
    --designer-header-title-color: var(--vscode-foreground);
    --designer-header-title-font: 700 2.5vmin 'Roboto', sans-serif;
    /* Control Bar */
    --control-bar-background: var(--vscode-sideBar-background);
    --control-bar-border: 1px solid var(--vscode-sideBar-border);
    --control-bar-box-shadow: 0 0 0px rgba(var(--black-rgb), 0.15), 0 0px 0px rgba(var(--black-rgb), 0.15);
    --control-bar-button-background: var(--vscode-input-background);
    --control-bar-button-border: 1px solid var(--vscode-inputOption-activeBorder);
    --control-bar-button-delete-icon-path: var(--red);
    --control-bar-button-hover-background: var(--vscode-inputOption-activeBackground);
    --control-bar-button-hover-border-color: var(--vscode-inputOption-activeBorder);
    --control-bar-button-icon-path: var(--vscode-input-foreground);
    --control-bar-button-icon-stroke: var(--vscode-input-background);
    --control-bar-button-start-icon-path: var(--green);
    --control-bar-button-stop-icon-path: var(--red);
    /* Line Grid */
    --line-grid-path-stroke: rgba(var(--secondary-color-rgb), 0.3);
    --line-grid-path-stroke-witdh: 1;
    /* Modal */
    --modal-button-background: var(--vscode-button-background);
    --modal-button-border: 1px solid var(--vscode-button-border);
    --modal-button-color: var(--vscode-button-foreground);
    --modal-button-font: 400 1.0em 'Roboto', sans-serif;
    --modal-button-hover-background: var(--vscode-button-hoverBackground);
    --modal-button-hover-border: 1px solid var(--vscode-button-border);
    /* Smart Editor */
    --smart-editor-background: var(--vscode-sideBar-background);
    --smart-editor-box-shadow: 0 0 0px rgba(var(--black-rgb), 0.15);
    --smart-editor-button-background: var(--vscode-button-background);
    --smart-editor-button-border: 1px solid var(--vscode-button-border);
    --smart-editor-button-color: var(--vscode-button-foreground);
    --smart-editor-button-font: 400 1.0em 'Roboto', sans-serif;
    --smart-editor-button-hover-background: var(--vscode-button-hoverBackground);
    --smart-editor-button-hover-border: 1px solid var(--vscode-button-border);
    --smart-editor-color: var(--vscode-foreground);
    --smart-editor-details-border: 1px solid var(--vscode-sideBarTitle-foreground);
    --smart-editor-details-color: var(--vscode-sideBarTitle-foreground);
    --smart-editor-details-hover-color: var(--vscode-inputOption-activeBorder);
    --smart-editor-group-background: transparent;
    --smart-editor-group-color: var(--vscode-foreground);
    --smart-editor-group-font: 400 1.2em/1.2em 'Roboto', sans-serif;
    --smart-editor-error-background: #FDECEA;
    --smart-editor-error-border: 1px solid #E74C3C;
    --smart-editor-error-description-color: var(--black);
    --smart-editor-error-description-font: var(--smart-editor-font);
    --smart-editor-error-title-color: #C0392B;
    --smart-editor-error-title-font: var(--smart-editor-label-font);
    --smart-editor-font: 400 1.0em 'Roboto', sans-serif;
    --smart-editor-help-text-background: var(--vscode-editor-background);
    --smart-editor-help-text-border: 1px solid var(--vscode-sideBar-background) !important;
    --smart-editor-help-text-color: var(--vscode-editor-foreground);
    --smart-editor-help-text-font: 400 1.0em 'Roboto', sans-serif;
    --smart-editor-input-background: var(--vscode-input-background);
    --smart-editor-input-border: 1px solid var(--vscode-sideBar-background);
    --smart-editor-input-color: var(--vscode-input-foreground);
    --smart-editor-input-focus-background: var(--vscode-input-background);
    --smart-editor-input-focus-border: 1px solid var(--vscode-inputOption-activeBorder);
    --smart-editor-input-focus-color: var(--vscode-inputOption-activeForeground);
    --smart-editor-input-hover-border: 1px solid var(--vscode-inputOption-activeBorder);
    --smart-editor-input-placeholder-color: var(--vscode-input-placeholderForeground);
    --smart-editor-input-readonly-background: var(--vscode-input-background);
    --smart-editor-input-readonly-border: 1px solid var(--vscode-sideBar-background);
    --smart-editor-input-readonly-color: var(--vscode-input-placeholderForeground);
    --smart-editor-label-font: 700 1.1em/1.1em 'Roboto', sans-serif;
    --smart-editor-label-help-icon-container-background: var(--vscode-button-background);
    --smart-editor-label-help-icon-container-fill: var(--vscode-button-foreground);
    --smart-editor-label-help-icon-container-hover-background: var(--vscode-button-hoverBackground);
    --smart-editor-label-help-icon-container-hover-fill: var(--vscode-button-foreground);
    --smart-editor-label-help-icon-container-size: 1.2em;
    --smart-editor-label-color: var(--vscode-foreground);
    --smart-editor-subtitle-background: var(--vscode-sideBarTitle-background);
    --smart-editor-subtitle-color: var(--vscode-sideBarTitle-foreground);
    --smart-editor-subtitle-font: 400 1.2em 'Roboto', sans-serif;
    --smart-editor-title-background: var(--vscode-sideBarTitle-background);
    --smart-editor-title-color: var(--vscode-foreground);
    --smart-editor-title-font: 700 1.5em 'Roboto', sans-serif;
    --smart-editor-toggle-background: var(--vscode-sideBar-background);
    --smart-editor-toggle-icon-path: var(--vscode-input-foreground);
    --smart-editor-toggle-icon-hover-path: var(--vscode-input-foreground);
    --smart-editor-toggle-box-shadow: 0 0 0px rgba(var(--black-rgb), 0.15);
    /* Toolbox */
    --toolbox-background: var(--vscode-sideBar-background);
    --toolbox-box-shadow: 0 0 0px rgba(var(--black-rgb), 0.15), 0 0px 0px rgba(var(--black-rgb), 0.15);
    --toolbox-color: var(--vscode-foreground);
    --toolbox-filter-background: var(--vscode-sideBar-background);
    --toolbox-filter-border: 1px solid var(--vscode-input-border);
    --toolbox-filter-color: var(--vscode-input-foreground);
    --toolbox-filter-focus-background: var(--vscode-sideBar-background);
    --toolbox-filter-focus-border-color: var(--vscode-inputOption-activeBorder);
    --toolbox-filter-focus-color: var(--vscode-inputOption-activeForeground);
    --toolbox-filter-hover-border-color: var(--vscode-inputOption-activeBorder);
    --toolbox-filter-input-border: 1px solid var(--vscode-input-background);
    --toolbox-filter-input-border-focus: 1px solid var(--vscode-inputOption-activeBorder);
    --toolbox-filter-input-border-hover: 1px solid var(--vscode-inputOption-activeBorder);
    --toolbox-group-title-color: var(--vscode-sideBarTitle-foreground);
    --toolbox-group-title-background: var(--vscode-sideBarTitle-background);
    --toolbox-group-title-font: 700 1.3em/1.3em 'Roboto', sans-serif;
    --toolbox-header-title-color: var(--vscode-sideBarTitle-foreground);
    --toolbox-header-title-font: 700 1.5em/1.5em 'Roboto', sans-serif;
    --toolbox-icon-path: var(--vscode-icon-foreground);
    --toolbox-icon-hover-path: var(--vscode-icon-foreground);
    --toolbox-input-placeholder-color: var(--gray);
    --toolbox-item-background: var(--vscode-input-background);
    --toolbox-item-border: 1px solid var(--vscode-inputOption-activeBackground);
    --toolbox-item-box-shadow: 0 0px 0px rgba(var(--black-rgb), 0.15);
    --toolbox-item-color: var(--vscode-input-foreground);
    --toolbox-item-hover-background: var(--vscode-inputOption-activeBackground);
    --toolbox-item-hover-border-color: var(--vscode-inputOption-activeBorder);
    /*
		This filter chain is intended for images that are not originally black.
		It starts by applying brightness(0) saturate(100%) to convert the image to black,
		then applies a blue filter to produce the color #24497E.
		To adjust for different target colors, try using https://codepen.io/sosuke/pen/Pjoqqp.
	*/
    --toolbox-item-icon-image-filter: none;
    --toolbox-item-icon-image-color: var(--vscode-input-foreground);
    --toolbox-item-icon-no-icon-background: var(--gray);
    /* Workflow */
    --container-step-input-icon-fill: var(--vscode-input-foreground);
    --container-step-input-fill: var(--vscode-input-background);
    --container-step-input-stroke: var(--vscode-input-background);
    --container-step-input-stroke-width: 1;
    --root-start-stop-circle-fill: var(--vscode-editor-foreground);
    --root-start-stop-icon-fill: var(--vscode-editor-background);
    --step-label-primary-rect-fill: var(--vscode-editor-foreground);
    --step-label-primary-rect-stroke: var(--vscode-editor-background);
    --step-label-primary-rect-stroke-width: 0;
    --step-label-primary-text-fill: var(--vscode-editor-background);
    --step-label-primary-text-font: 700 1.0em 'Roboto', sans-serif;
    --step-label-secondary-rect-fill: var(--vscode-input-background);
    --step-label-secondary-rect-stroke: var(--vscode-inputOption-activeBorder);
    --step-label-secondary-rect-stroke-width: 1;
    --step-label-secondary-text-fill: var(--vscode-editor-foreground);
    --step-label-secondary-text-font: 700 1.0em 'Roboto', sans-serif;
    --step-task-empty-icon-fill: rgba(var(--black-rgb), 0.5);
    --step-task-icon-fill: var(--vscode-input-foreground);
    --step-task-rect-fill: var(--vscode-input-background);
    --step-task-rect-filter: drop-shadow(0 1.5px 1.5px rgba(var(--black-rgb), 0.15));
    --step-task-rect-stroke: var(--vscode-inputOption-activeBorder);
    --step-task-rect-stroke-width: 1;
    --step-task-selected-rect-stroke: var(--red);
    --step-task-selected-rect-stroke-width: 1;
    --step-task-text-fill: var(--vscode-input-foreground);
    --step-task-text-font: 400 1.0em 'Roboto', sans-serif;
    --validation-error-path-fill: var(--yellow);
    --validation-error-icon-path-fill: var(--black);
    --workflow-input-fill: var(--vscode-input-background);
    --workflow-input-image-filter: none;
    --workflow-input-stroke: var(--vscode-inputOption-activeBorder);
    --workflow-input-stroke-width: 1;
    --workflow-join-stroke: var(--vscode-editor-foreground);
    --workflow-join-stroke-width: 1;
    --workflow-output-fill: var(--vscode-input-background);
    --workflow-output-stroke: var(--vscode-inputOption-activeBorder);
    --workflow-output-stroke-width: 1;
    --workflow-placeholder-hover-rect-fill: var(--vscode-inputOption-activeBackground);
    --workflow-placeholder-hover-rect-stroke: var(--vscode-inputOption-activeBorder);
    --workflow-placeholder-hover-rect-stroke-dasharray: 0;
    --workflow-placeholder-hover-rect-stroke-width: 0;
    --workflow-placeholder-rect-fill: var(--vscode-input-background);
    --workflow-placeholder-rect-stroke: var(--vscode-inputOption-activeBorder);
    --workflow-placeholder-rect-stroke-dasharray: 0;
    --workflow-placeholder-rect-stroke-width: 0;
    --workflow-region-selected-stroke: var(--red);
    --workflow-region-selected-stroke-dasharray: 0;
    --workflow-region-selected-stroke-width: 1;
    --workflow-region-stroke: var(--vscode-editor-foreground);
    --workflow-region-stroke-dasharray: 3;
    --workflow-region-stroke-width: 1;
}
